@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #ffffff;
    background-size: 20px 20px;
    background-image: 
        repeating-linear-gradient(to bottom 
        #ffc0cb, hsl(180, 24%, 96%), transparent); 
}